@import "gerillass";
@include border-box;
@include antialias;
@include reset-css;

/* Write your styles  here! */

@page { 
  margin: 0;
  size: 148mm 105mm;
}

body {
  margin: 2rem auto;
  line-height: 1.3;
  background: #fff !important;
  color: #000;
  &.a6 {
    &__landscape {
      width: 148mm;
      height: 105mm;
    }
  }
}

.merriweather {
  font-family: 'Merriweather', serif;
}
.roboto {
  font-family: 'Roboto', sans-serif;
}
.pacifico {
  font-family: 'Pacifico', cursive;
}
.inconsolata {
  font-family: 'Inconsolata', monospace;
}

.gift-card {
  position: relative;
  &__message-container {
    position: relative;
  }
  &__message {
    background-color: transparent;
    width: 100%;
    height: 100%;
    font-size: 1rem;
    padding: 1.5rem;
    border-radius: 4px;
    resize: none;
  }
  &__qr-container {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 30%;
    background-color: red;
  }
  &__qr {
    position: absolute;
    top: 0;
    width: 120px;
    height: 100%;
    background-color: blue;
    @include center(horizontal);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &::after {
    position: absolute;
    font-family: sans-serif;
    font-size: 10pt;
    display: block;
    padding: 6px 0;
    color: rgb(120,120,120);
    content: "* You can click and format the text.";
  }
}

@media print {
  body {
    margin: 0;
    &.a6 {
      &__landscape {}
    }
  }
  .gift-card {
    &__message-container {}
    &__message {
      font-size: 12pt;
      padding: 2rem;
      margin: 0;
      border: none;
    }
    &::after {
      display: none;
    }
  }
}

