*,
*::before,
*::after {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, main, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  position: relative;
  font-size: 110%;
  background-color: #fff;
}

body {
  font-family: "Roboto", sans-serif;
  color: #2f3937;
  line-height: 1.6;
  padding: 2rem;
  margin: 0 auto;
}
@media (min-width: 576px) {
  body {
    max-width: calc(576px - (2rem * 2));
  }
}
@media (min-width: 768px) {
  body {
    max-width: calc(768px - (2rem * 2));
  }
}
@media (min-width: 992px) {
  body {
    max-width: calc(992px - (2rem * 2));
  }
}
@media (min-width: 1200px) {
  body {
    max-width: calc(1200px - (2rem * 2));
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  margin-bottom: 1rem;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.8rem;
}

strong {
  font-weight: bold;
}

code {
  padding: 2px 5px;
  background-color: rgba(47, 57, 55, 0.1);
  border-radius: 3px;
}

p {
  margin-bottom: 1rem;
}

/* Write your styles  here! */
.main-container {
  margin: 0 auto;
  padding: 2rem;
}
@media (min-width: 576px) {
  .main-container {
    max-width: calc(576px - (30px * 2));
  }
}
@media (min-width: 768px) {
  .main-container {
    max-width: calc(768px - (30px * 2));
  }
}
@media (min-width: 992px) {
  .main-container {
    max-width: calc(992px - (30px * 2));
  }
}
@media (min-width: 1200px) {
  .main-container {
    max-width: calc(1200px - (30px * 2));
  }
}

.card-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.card-list, .card-list::before, .card-list::after,
.card-list *,
.card-list *::before,
.card-list *::after {
  box-sizing: border-box;
}
.card-list > * {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  -webkit-flex-basis: calc((100% - (4 - 1) * 20px) / 4);
      -ms-flex-preferred-size: calc((100% - (4 - 1) * 20px) / 4);
          flex-basis: calc((100% - (4 - 1) * 20px) / 4);
  margin-bottom: 20px;
}
.card-list > *:not(:last-child) {
  margin-right: 20px;
}
.card-list > *:nth-child(4n) {
  margin-right: 0;
}
.card-list__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgb(245, 245, 245);
  border-radius: 4px;
  position: relative;
}
.card-list__item::before {
  content: "";
  display: block;
  padding-top: 37.5%;
}
.card-list__item > * {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}